:root {
	--black: #17202a;
	--white: #FFFFFF;
    --gray: #A8A8A8; 
}


body{
    width : auto;
}
.projets{
    margin: 0;
padding: 13px;
border: 0;
font-weight: bold;
font-size: medium;
border-radius: 100px;
color: var(--white);
background-image: linear-gradient(0deg, rgba(12, 69, 240, 0.9), rgba(94, 55, 211, 0.9));
cursor: pointer;
transition-property: transform;
transition-duration: 1s;
text-decoration: none;
}
.all_projects{
    background-color: var(--gray) ;

}
.card_img{
    height: 185px;
box-shadow: 0 0 15px rgb(0 0 0 / 20%);
border: 5px solid var(--white);
border-radius: 25px;
}